.header{
    margin: 50px;
    font-family: 'Raleway', sans-serif;
}

body {
    padding-top: 20px;
    background-color: #e9ebee;
}

.modal-dialog,.modal::before {
    display: inline-block;
    vertical-align: middle
}

.modal {
    text-align: center;
    padding: 0!important
}

.modal::before {
    content: '';
    height: 100%;
    margin-right: -4px
}

.modal-dialog {
    text-align: left
}

.mp-color-green{
    color: green;
}

.mp-color-red{
    color: red;
}

.mp-panel-menu.panel-body {
    padding: 0
}

.mp-text-medium{
    font-size: 1.5rem;
}

.mp-text-bold{
    font-weight: bold;
}

.panel-heading a{
    color: #fff;
}

.menu-icon{
    margin-right: 4px;
}

.mp-padding-left-0{
    padding-left: 0;
}

.mp-padding-10{
    padding: 10px;
}
.mp-padding-bottom-10{
    padding-bottom: 10px;
}

.mp-margin-right-10{
    margin-right: 10px;
}

.mp-margin-right-5{
    margin-right: 5px;
}

.mp-margin-bottom-0{
    margin-bottom: 0;
}

.mp-margin-bottom-20{
    margin-bottom: 20px;
}
.mp-margin-top-5{
    margin-top: 5px;
}